# Node / Frontend
/node_modules
npm-debug.log
yarn-error.log

# PHP / Laravel
/vendor
.env
.env.*
.phpunit.result.cache

# Laravel storage (on garde la structure avec .gitkeep)
/storage/*
!/storage/**/.gitkeep
!/storage/app/public

# Public
/public/hot
/public/storage

# OS / IDE
.DS_Store
.idea
.vscode

# Homestead
Homestead.json
Homestead.yaml
